<div class="container">
  <h1>Update <%= @list.name %> List Cover image</h1>
  <%= simple_form_for(@list)  do |f| %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
  <hr>
  <%= link_to 'Back', lists_path, class:'btn' %>
</div>
